.Board {
    &-wrapper {
        height: 512px;
        width: 512px;
        grid-row: 1 / 2;
        display: grid;
        row-gap: 0;
        row-gap: 0;
        grid-template-rows: 100px;
        grid-template-columns: 100px;
    }
}
