.Game {
    &-wrapper {
        margin: 30px 30px;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    &-chessboard {
        grid-column: 1 / 2;
    }
    &-scoreboard {
        grid-column: 2 / 3;
    }
}