.Square {
    height: 110px;
    width: 110px;

    &-light {
        background-color: #eeeed2;
    }
    
    &-dark {
        background-color: #769656;
    }

    @for $i from 1 through 8 {
        @for $j from 1 through 8 {
            &-#{$i}#{$j} {
                grid-row: #{$i} / #{$i +1};
                grid-row: #{$j} / #{$j +1};
            }
        }
    }
}