.Start {
    &-wrapper {
        padding-top: 25px;
        text-align: center;
        margin: 25vh auto;
        height: 35vh;
        width: 25vw;
        background-color: #272421;
        color: white;
    }

    &-form-group {
        display: flex;
        width: 80%;
        padding: 3vh ;
        justify-content: space-evenly;
    }

    &-form-items {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
        background-color: #312e2b;
        width: 75px;
        height: 60px;
    }

    &-button {
        height: 50px;
        display : block;
        width: 200px;
        border-radius: 10px;
        background-color: #7fa650;
        border: none;
        color: #fff;
        font-size: 24px;
        font-weight: bolder;
        box-shadow: 5px 5px 7px #536d33;
        margin: 0 auto;
    }
}