.App {
    &-small {
        text-align: center;
        color: #fff;
        height: 10vh;
        width: 80%;
        margin: 10% auto;
        background-color: #272421;
        vertical-align: middle;
        padding-top: 30px;
    }
}